@page
@model RecruitCatDubalvb.Pages.JobTitles.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Job Title Details</h1>

<div>
    <h4>JobTitle</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle.Domain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.Domain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle.MiniSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.MiniSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle.MaxSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.MaxSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JobTitle.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
