@page
@model RecruitCatDubalvb.Pages.JobTitles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>List of Job Titles</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Domain)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MiniSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobTitle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Domain)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiniSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
