@page
@model RecruitCatDubalvb.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Company Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Optionalstartdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Optionalstartdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MiniSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MiniSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaxSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaxSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.EmployeeCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.EmployeeCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.CompanyStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Industry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Industry.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Jobtitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Jobtitle.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
